.ausflug-card {
    display: flex;
    flex-direction: column;
    min-width: 350px !important;
    max-width: 350px !important;
    height: 370px;
    border-radius: 10px;
    overflow: hidden;

    background: rgba(31, 48, 58, 0.6);
    -webkit-backdrop-filter: blur( 5.5px );
    box-shadow: 0 8px 32px 0 rgba(14, 18, 51, 0.37);
    backdrop-filter: blur( 5.5px );
}

.ausflug-card-bild {
    height: 120px;
    flex: 1;
    background-size: cover;
    background-position: center;

}

.ausflug-card-content {
    height: 180px !important;
    border-radius: 10px;
    padding: 5px 15px;
    position: relative;
    z-index: 1;

}

.ausflug-card-content-h2{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    height: 50px;
}

.ausflug-card-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
    font-size: 1rem;
}

.ausflug-card-icon {
    margin-right: 5px;
    color: var(--main-gold-color)!important;
}


.ausflug-card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.mb-8 {
    margin-bottom: 1rem;
}

